<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <%= render :partial => "/shared/header" -%>
    <%= yield %>
    <%= render :partial => "/shared/footer" -%>
    <%- if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= RefinerySetting.find_or_set(:google_analytics_acct, "") %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <%- end %>
  </body>
</html>
